__pycache__/
build/
*.egg-info/
*.so
*.mp4

tmp*
trial*/

data
data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

pretrained
*.mp4
.DS_Store
workspace/log_ngp.txt
.ideacuda-repo-ubuntu2004-11-3-local_11.3.0-465.19.01-1_amd64.deb
data/pretrained/ngp_kf.pth
temp_nltk_data/
*.zip
